
.navbar {
    position: relative; /* Add this line to make the navbar relative to the page */
    background-color: white;
    padding: 10px;
    margin-top: 0;
    width: 100%; /* Add this line to set the width to 100% */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add this line to add a box shadow */
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    margin-right: 10px;
    color: black;
}

.navbar img {
    height: 200px;
    width: 200px;
    width: 150px;
    
    margin-right: 20px; /* Add this line to increase the space between the logo and other links */
}

.navbar a {
    text-decoration: none;
    color: black;
    
}

.navbar a:hover {
    color: blue;
}


.navbar img {
    height: 30px;
    width: 30px;
    margin-right: 20px; /* Add this line to increase the space between the logo and other links */
}
  
.signup{
    background-color: #5c3bf1;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.signup:hover{
    background-color: #29e639;
    color: white;
}

/* Add this section to style the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropbtn {
    /* background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px; */
    background-color: white;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    /* background-color: #3e8e41; */
    color: blue;
  }
